.title {
	display: inline-block;
	font-size: var(--text-lg);
	margin-bottom: var(--space-xs);
	margin-top: var(--space-lg);
	border-bottom: 1.5px solid transparent;
}

.link {
	text-decoration: none;
}

.link:hover .title {
	border-bottom-color: var(--primary);
}

.meta {
	display: flex;
	justify-content: space-between;
}
